.text-center {
    font-size: 16px;
    margin-left: 1%;
    color:forestgreen;
    font-weight: bold;
    font-variant: small-caps;
    font-family: Verdana;
  }
  

      .back{
        color: forestgreen;
    }

    .text-lista{
        font-family: Arial;
        color:dimgray;
        font-size: 13px;
        padding: 1px;
           }
  