.avatar{
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 45px;
    height: 45px;
    }

    .text-center {
      text-align: center;
      font-size: 16px;
      margin-left: 8%;
      color:forestgreen;
      font-weight: bold;
      font-variant: small-caps;
      font-family: Verdana;
    }
    
      
     .text-lista{
      font-family: Arial;
      color:dimgray;
      font-size: 13px;
      padding: 1px;
         }

      .avatar-lista{
    width: 30px;
    height: 30px;
     }

      
     .boton {
      font-family: Arial;
      font-size: 10px;
      font-weight: bold;
      border-radius: 8px;
         }

      