
.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

.avatar{
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  width: 50px;
  height: 50px;
  }

 .title-center {
    text-align: center;
    margin-left: -20%;
    color: SteelBlue;
    font-weight: bold;
    font-variant: small-caps;
    font-family: Verdana;
  }

  .boton {
    font-family: Arial;
    font-weight: bold;
      }